<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody();


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="../lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="../lib/signalr/dist/browser/signalr.js"></script>
    @* <script src="../js/OnlineUsers.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("js",required:false)
</body>
</html>
